@import './variable';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
    height: 100%;
    margin: 0;
    padding: 0;

}

nav li:last-child a {
    background: $primary;

    &:hover {

        background: $primary-hover;

    }
}

nav li a {

    transition: $smooth;

    &:hover {

        color: $primary;

    }
}

section.hero {
    background: $secondry;
}

.size {
    background: $secondry;
}

.add-to-cart {
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;

    &:hover {
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
}

.btn-primary {
    border: 2px solid;
    color: $pure;
    background: $primary;
    transition: $smooth;

    &:hover {
        background: $primary-hover;
        color: white;
    }
}

section.cart {
    background: $secondry;

    .Amount {
        color: $primary;
    }

    min-height: 88vh;
}

.orengeCol {
    color: $primary;
}

.login {
    background: $secondry;
    height: 88vh;
}

.form {
    background-color: rgb(255, 243, 232);
}

a {
    &:hover {
        color: $primary-hover;
    }
}


.noty_theme__mint {
    border-radius: 50px !important;
    padding-left: 8px !important;
}



.license-block {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

.license-block p {
    margin: 0;
    /* Remove default margins */
}

.text-center {
    text-align: center;
}

.text-gray-500 {
    color: #6B7280;
    /* Tailwind CSS gray-500 color */
}

.text-xs {
    font-size: 0.75rem;
    /* Tailwind CSS xs font size */
}

a.link {
    color: $primary;
}